extends layout

block content
	#wrapper
		#jsProgressBar
		#jsTimerContainer.timer(data-interval="10")
		a#jsBtnConfigOpen.btn_config(href="#") 設定
		#jsBtnContainer.box_btn
			.item_btn
				a#jsSecureButtonA.btn_red(href="#", data-color="red", data-sound="/sound/retro1.mp3")
			.item_btn
				a#jsSecureButtonB.btn_yellow(href="#", data-color="yellow", data-sound="/sound/retro2.mp3")
		#jsSettingContainer.setting_wrapper
			.setting_form
				//label.setting_form_label 現在の設定時間:
				//span#jsCurrentTime
				//br
				label.setting_form_label(for="jsSettingTimer") 専有するための時間
				.setting_form_input
					input#jsSettingTimer(type="text", pattern="[0-9]*", value="")
			a#jsBtnSettingSave.setting_btn_save(href="#") 設定を反映する
			a#jsBtnSettingCancel.setting_btn_cancel(href="#") やめる
			a#jsSecureCancel.btn_cancel(href="#") リセット




