doctype 5
html(manifest="my.appcache")
  head
    title= title
    script(src='/javascripts/all.min.js')
    link(rel='stylesheet', href='/stylesheets/style.css')
    meta(name="apple-mobile-web-app-capable", content="yes")
    meta(name="apple-mobile-web-app-status-bar-style", content="black-translucent")
  body
    block content
